In [1]:
%%writefile test.text
bla bla bla bla bla bla bla

Overwriting test.text

In [2]:
my_file = open("test.text", "r")
content = my_file.read()
print(content)

bla bla bla bla bla bla bla

In [3]:
my_file.read()

''

In [4]:
my_file.read()

''

In [5]:
my_file.seek(0)
my_file.readlines()

['bla bla bla bla bla bla bla \n']

In [6]:
my_file.close()

In [7]:
my_file = open("test.text", "r")
my_file.seek(0)
my_file.readlines()

['bla bla bla bla bla bla bla \n']

In [8]:
my_file.readlines()

[]

In [9]:
my_file.close()

In [10]:
my_file = open('test.txt','w+')

In [11]:
my_file.write('This is a new first line')

24

In [12]:
my_file.seek(0)
my_file.readlines()

['This is a new first line']

In [13]:
my_file.readlines()

[]

In [14]:
my_file = open('test.txt','a+')

In [15]:
my_file.write('\nThis line is being appended to test.txt')

40

In [16]:
my_file.seek(0)
my_file.readlines()

['This is a new first line\n', 'This line is being appended to test.txt']

In [17]:
# append text using the existing open file handle `my_file`
append_text = "\nThis is more text being appended to test.txt\nAnd another line here.\n"
my_file.write(append_text)
my_file.flush()

# show updated contents
my_file.seek(0)
print(my_file.read())

This is a new first line
This line is being appended to test.txt
This is more text being appended to test.txt
And another line here.

In [18]:
with open('test.txt','r') as txt:
    first_line = txt.readlines()[0]
    
print(first_line)

This is a new first line

In [19]:
with open('test.txt','r') as txt:
    for line in txt:
        print(line, end='')  # the end='' argument removes extra linebreaks

This is a new first line
This line is being appended to test.txt
This is more text being appended to test.txt
And another line here.

In [20]:
import pandas as pd
data = pd.read_csv('01.csv' , skiprows = 2)
data.head(20)

    Equipments  1                   Air Heaters  102
0   Equipments  1                    Air Cooler  103
1   Equipments  1                  Exhaust Fans  104
2   Equipments  1                   Air Filters  105
3   Equipments  1                 Electric Fans  106
4   Equipments  1                       Kettles  107
5   Equipments  1               Electric Grills  108
6   Equipments  1                        Stoves  109
7   Equipments  1                         Ovens  110
8   Equipments  1       Microwaves and Toasters  111
9   Equipments  1                  Yogurt Maker  112
10  Equipments  1  Cappuccino and Coffee Makers  113
11  Equipments  1               Electric Fryers  114
12  Equipments  1                      Blenders  115
13  Equipments  1        Other Kitchen Machines  116
14  Equipments  1                 Refrigerators  117
15  Equipments  1            Water Refrigerator  118
16  Equipments  1              Water Dispensers  119
17  Equipments  1                 Deep Freezers  120
18  Equipments  1                    Ice Makers  121
19  Equipments  1         Electric Water Heater  122

In [21]:
data = pd.read_excel('02.xlsx' , skiprows = 2)
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please do not change the template headings.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,First data column must be blank.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"If you are uploading new records, leave the ""n...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
outfile = open('03.csv', 'w')
outfile.write('a')
outfile.close()

In [23]:
outfile = open('04.xls', 'w')
outfile.write('a')
outfile.close()

In [24]:
f= open('5.txt','w') #write
f.write('write this line in the file')
f.close()

In [25]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

In [26]:
f= open('5.txt','a') #append
f.write('\nmore lines')
f.close()

In [27]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

more lines

In [35]:
import numpy as np
data = pd.DataFrame(pd.Series(np.random.rand(10000)))
data.head(20)

           0
0   0.106805
1   0.441630
2   0.543451
3   0.720492
4   0.234720
5   0.681709
6   0.491186
7   0.926634
8   0.742448
9   0.534892
10  0.507780
11  0.999773
12  0.147131
13  0.786758
14  0.451474
15  0.711288
16  0.777932
17  0.715694
18  0.449288
19  0.301812

In [36]:
data.to_csv('6.csv')

In [ ]:
f= open('7.txt','w', encoding="utf8") 
f.write('سطور باللغة العربية')
f.close()

In [38]:
f= open('7.txt','a', encoding="utf8") 
f.write('\nسطر ثاني')
f.write('\nسطر ثالث')
f.write('\nسطر رابع')
f.write('\nسطر أخير')
f.close()

In [40]:

f = open('7.txt','a', encoding="utf8")
f.write('\nاللغة العربية')
f.close()

In [41]:
f= open('7.txt','r', encoding="utf8") 
for a in f:
    print(a)

سطور باللغة العربية

سطر ثاني

سطر ثالث

سطر رابع

سطر أخير

اللغة العربية